<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Bloggy</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/blog.css">
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <p class="logo">B<sup>loggy</sup></p>
        <nav class="nav">
          <ul class="nav__list">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog/create-post">New Post</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>